@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
    font-family: 'Syne Mono', monospace !important;
    font-size: 20px;
    background-color: #303030 !important;
    color: #db9813 !important;
}

a {
    color: #ccc !important;
}

.main-title {
    text-align: center;
}

.main-content {
    width: 80% !important;
    margin: auto !important;
    text-align: center !important;
    position: relative !important;
}

.listorder-table {
    width: 80%;
    margin: 0 auto 0 auto;
}

.review-table {
    width: 60%;
}

table table td {
    width: 100%;
    margin: 2rem 8rem 0 0;
    color: #1b1b1b !important;
}

footer {
    margin: 0 0 3rem 0;
    position: absolute;
    top: calc(100%);
    left: 0;
    right: 0;
    text-align: center;
    height: 3rem;
}